.contactForm {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

input, textarea{
    border-radius: 5px;
    width: 150px;
    padding: 10px;
    margin: 5px;
    background: white;
}